<% include parts/_header %>
<!--
<div class="h-25 d-inline-block">
    <img src="https://www.solofondos.com/wp-content/uploads/2016/01/Fondos-de-pantalla-4k-coches.jpg" class="img-fluid" alt="Responsive image">
</div>
-->
<div class="container">
    <form>
        <fieldset>
          <legend>Buscar Vehiculo en:</legend>
          <div class="form-group">
            <label for="exampleSelect1">Region retiro</label>
            <select class="form-control" id="exampleSelect1">
              <option>1 region retiro</option>
              <option>2 region retiro</option>
              <option>3 region retiro</option>
              <option>4 region retiro</option>
              <option>5 region retiro</option>
            </select>
          </div>
          
          <fieldset class="form-group">
            <legend>Checkboxes</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" checked="">
                Devolver en otra sucursal
              </label>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </fieldset>
      </form>
</div>

<% include parts/_footer %>