<div class="container">
    <form class="was-validated" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" >
        <div class="row">
            <div class="col-md-5">
                <h6>Sucursal de retiro</h6>
                <div class="form-group">
                    <select class="custom-select" formControlName="local_retiro" required>
                        <option value="">Open this select menu</option>
                        <option *ngFor="let suc of sucursales" [value]="suc.id_sucursal">{{suc.region}}, {{suc.ciudad}}, {{suc.calle}} {{suc.numero}} </option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <h6>Sucursal de devolucion</h6>
                <div class="form-group">
                    <select class="custom-select" formControlName="local_devolucion" required>
                        <option value="">Open this select menu</option>
                        <option *ngFor="let suc of sucursales" [value]="suc.id_sucursal">{{suc.region}}, {{suc.ciudad}}, {{suc.calle}} {{suc.numero}} </option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">
                <div class="row">
                    <label for="fecha_retiro">Fecha de retiro</label>
                    <input type="text" formControlName="fecha_retiro" class="form-control" id="fecha_retiro" placeholder="YYYY-mm-dd HH:mm:ss"  required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                </div>
                <div class="row">
                        <label for="fecha_devolucion">Fecha de devolucion</label>
                        <input type="text" formControlName="fecha_devolucion" class="form-control" id="fecha_devolucion" placeholder="YYYY-mm-dd HH:mm:ss"  required>
                        <div class="valid-feedback">
                        Looks good!
                        </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>