<div class="container">

    <!--interpolation binding {{}} sirve para unir una propiedad a lo que estamos mostrando en la vista-->
    
    <form  [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" >
        <!--class="was-validated"-->
        <div class="row">
            <div class="col-md-5">
                <h6>Sucursal de retiro</h6>
                <div class="form-group">
                    <select class="custom-select" formControlName="local_retiro" required>
                        <option value="">Open this select menu</option>
                        <option *ngFor="let suc of sucursales" [value]="suc.id_sucursal">{{suc.region}}, {{suc.ciudad}}, {{suc.calle}} {{suc.numero}} </option>
                    </select>
                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
            </div>
        
            <div class="col-md-2"></div>
            <div class="col-md-5">
                    <h6>Sucursal de devolucion</h6>
                    <div class="form-group">
                        <select class="custom-select" formControlName="local_devolucion" required>
                            <option value="">Open this select menu</option>
                            <option *ngFor="let suc of sucursales" [value]="suc.id_sucursal">{{suc.region}}, {{suc.ciudad}}, {{suc.calle}} {{suc.numero}} </option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
            </div>
        </div>

        <div class="row">
                <div class="col">
                        <div class="row justify-content-center">
                                <app-datepicker></app-datepicker>
                        </div>
                        <div class="row justify-content-center">
                                <div class="col-md-3 offset-md-1">
                                    <h6>Hora retiro</h6>
                                    <app-timepicker [tipo]="true"></app-timepicker>            
                                </div>
                                <div class="col-md-3 offset-md-1">
                                    <h6>Hora devolucion</h6>
                                    <app-timepicker [tipo]="false"></app-timepicker>
                                </div>
                        </div>
                </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>